IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SendEmailPickingList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SendEmailPickingList]
GO 

CREATE PROCEDURE [dbo].[SendEmailPickingList]

AS
BEGIN
DECLARE @TableData TABLE(
	TOId INT,
	STONo VARCHAR(10),
	ShipmentDate DATE,
	SenderRegion VARCHAR(50),
	ReceiverRegion VARCHAR(50),
	UpdatedField VARCHAR(MAX),
	FLagEmail INT,
	CreatedBy VARCHAR(128),
	UpdatedBy VARCHAR(128));
DECLARE @stoNo VARCHAR(10),
	   @shipmentDate DATE,
	   @updatedField VARCHAR(MAX),
	   @createdBy VARCHAR(128),
	   @updatedBy VARCHAR(128),
	   @region VARCHAR(50),
	   @bodyEmail VARCHAR(MAX),
	   @bodyNewEmail VARCHAR(MAX), 
	   @bodyEditEmail VARCHAR(MAX),
	   @textEmailNewData VARCHAR(MAX),
	   @textEmailEditData VARCHAR(MAX);

DECLARE @listEmailTransport VARCHAR(MAX),
	   @listEmailAdmin VARCHAR(MAX);

INSERT INTO @TableData
SELECT to1.IDTransportOrder, to1.STONo, to1.ShipmentDate, mlSender.ParentLocation,mlReceiver.ParentLocation,to1.ChangeLogFields,to1.FlagEmail, ISNULL(muCreated.FullName,to1.CreatedBy), ISNULL(muUpdated.FullName,to1.UpdatedBy)
FROM TransportOrder AS to1
INNER JOIN MasterLocation AS mlSender
ON to1.SenderIDLocation = mlSender.IDLocation
INNER JOIN MasterLocation AS mlReceiver
ON to1.ReceiverIDLocation = mlReceiver.IDLocation
LEFT JOIN MasterUser AS muCreated
ON to1.CreatedBy = muCreated.IDUser
LEFT JOIN MasterUser AS muUpdated
ON to1.UpdatedBy = muUpdated.IDUser
WHERE (to1.FlagEmail = 0 OR to1.FlagEmail = 1) AND to1.IsActive = 1

--SET @textEmailNewData = @textEmailNewData + 'Hi,<br/>We would like to inform you that,<br/>'+@bodyNewEmail+'<br/>Please access following link http://hmsdfisprd.id.pmi/DFIS/PickingList <br/>Thank You';
--SET @textEmailEditData = @textEmailEditData + 'Hi,<br/>We would like to inform you that,<br/>'+@bodyEditEmail+'<br/>Thank You';

SELECT @listEmailTransport = COALESCE(@listEmailTransport + '; ' + Email, Email) FROM MasterUserRoleMapping AS murm
INNER JOIN MasterUser AS mu
ON murm.IDUser = mu.IDUser
WHERE murm.IDRole = 5 AND mu.IsActive = 1

--START : BAGIAN SEND EMAIL UNTUK USER TRANSPORT NEW PICKING LIST
DECLARE emailTransport CURSOR FOR
SELECT td.ShipmentDate, td.CreatedBy
FROM @TableData AS td
WHERE td.FLagEmail = 0
GROUP BY td.ShipmentDate,td.CreatedBy

OPEN emailTransport
FETCH NEXT FROM emailTransport INTO @shipmentDate,@createdBy
WHILE @@FETCH_STATUS = 0  
BEGIN
    SET @bodyNewEmail = @bodyNewEmail + 'Picking List for '+DATENAME(DW, @shipmentDate)+', '+CONVERT(VARCHAR(11), @shipmentDate, 106) + 'have been created by '+@createdBy+'<br/>';
    FETCH NEXT FROM emailTransport INTO @shipmentDate,@createdBy
END   
CLOSE emailTransport;
DEALLOCATE emailTransport;
SET @textEmailNewData ='Hi,<br/>We would like to inform you that,<br/>'+@bodyNewEmail+'<br/>Please access following link http://hmsdfisprd.id.pmi/DFIS/PickingList <br/>Thank You';
SET @bodyemail ='<html><body>'+@textEmailNewData+'</body></html>';
EXEC [msdb].[dbo].[sp_send_dbmail] 
    @profile_name='DFIS_Mail',
    @body = @bodyemail,
    @body_format='HTML',
    @recipients=@listEmailTransport,
    @subject = 'DFIS Email Picking List'
--END   : BAGIAN SEND EMAIL UNTUK USER TRANSPORT NEW PICKING LIST

--START : BAGIAN SEND EMAIL UNTUK USER TRANSPORT EDIT PICKING LIST
DECLARE emailEditTransport CURSOR FOR
SELECT DISTINCT td.STONo,'',td.UpdatedBy
FROM @TableData AS td
WHERE td.FLagEmail = 1

OPEN emailEditTransport
FETCH NEXT FROM emailEditTransport INTO @stoNo,@updatedField,@updatedBy
WHILE @@FETCH_STATUS = 0  
BEGIN
    SET @bodyEditEmail = @bodyEditEmail + 'STO '+@stoNo+' have been updated in '+@updatedField + ' by '+@updatedBy+'<br/>';
    FETCH NEXT FROM emailEditTransport INTO @stoNo,@updatedField,@updatedBy
END   
CLOSE emailEditTransport;
DEALLOCATE emailEditTransport;
SET @textEmailEditData = 'Hi,<br/>We would like to inform you that,<br/>'+@bodyEditEmail+'<br/>Thank You';
SET @bodyemail ='<html><body>'+@textEmailEditData+'</body></html>';
EXEC [msdb].[dbo].[sp_send_dbmail] 
    @profile_name='DFIS_Mail',
    @body = @bodyemail,
    @body_format='HTML',
    @recipients=@listEmailTransport,
    @subject = 'DFIS Email Picking List'
--END   : BAGIAN SEND EMAIL UNTUK USER TRANSPORT EDIT PICKING LIST

DECLARE locationRegion CURSOR FOR
SELECT DISTINCT ml.IDLocation
FROM MasterLocation AS ml
WHERE ml.IsActive = 1 AND ml.[Type] = 'Region'

OPEN locationRegion
FETCH NEXT FROM locationRegion INTO @region
WHILE @@FETCH_STATUS = 0  
BEGIN
	SELECT @listEmailAdmin = COALESCE(@listEmailAdmin + '; ' + mu.Email, mu.Email)
	FROM MasterUserLocationMapping AS mulm
	INNER JOIN MasterLocation AS ml
	ON mulm.IDLocation = ml.IDLocation
	INNER JOIN MasterUserRoleMapping AS murm
	ON mulm.IDUser = murm.IDRole
	INNER JOIN MasterUser AS mu
	ON mulm.IDUser = mu.IDUser
	WHERE mulm.IsActive = 1 AND mu.IsActive = 1 AND ml.ParentLocation = @region AND ml.IsActive = 1 AND murm.IsActive = 1 AND (murm.IDRole = 3 OR murm.IDRole = 4)
    --START : BAGIAN SEND EMAIL UNTUK ADMIN NEW PICKING LIST
    DECLARE emailAdmin CURSOR FOR
    SELECT td.ShipmentDate, td.CreatedBy
    FROM @TableData AS td
    WHERE td.FLagEmail = 0 AND(td.SenderRegion = @region OR td.ReceiverRegion = @region)
    GROUP BY td.ShipmentDate,td.CreatedBy

    OPEN emailAdmin
    FETCH NEXT FROM emailAdmin INTO @shipmentDate,@createdBy
    WHILE @@FETCH_STATUS = 0  
    BEGIN
	   SET @bodyNewEmail = @bodyNewEmail + 'Picking List for '+DATENAME(DW, @shipmentDate)+', '+CONVERT(VARCHAR(11), @shipmentDate, 106) + 'have been created by '+@createdBy+'<br/>';
	   FETCH NEXT FROM emailAdmin INTO @shipmentDate,@createdBy
    END   
    CLOSE emailAdmin;
    DEALLOCATE emailAdmin;
    SET @textEmailNewData ='Hi,<br/>We would like to inform you that,<br/>'+@bodyNewEmail+'<br/>Please access following link http://hmsdfisprd.id.pmi/DFIS/PickingList <br/>Thank You';
    SET @bodyemail ='<html><body>'+@textEmailNewData+'</body></html>';
    EXEC [msdb].[dbo].[sp_send_dbmail] 
	   @profile_name='DFIS_Mail',
	   @body = @bodyemail,
	   @body_format='HTML',
	   @recipients=@listEmailAdmin,
	   @subject = 'DFIS Email Picking List'
    --END   : BAGIAN SEND EMAIL UNTUK ADMIN NEW PICKING LIST

    --START : BAGIAN SEND EMAIL UNTUK ADMIN EDIT PICKING LIST
    DECLARE emailEditAdmin CURSOR FOR
    SELECT DISTINCT td.STONo,'',td.UpdatedBy
    FROM @TableData AS td
    WHERE td.FLagEmail = 1 AND(td.SenderRegion = @region OR td.ReceiverRegion = @region)

    OPEN emailEditAdmin
    FETCH NEXT FROM emailEditAdmin INTO @stoNo,@updatedField,@updatedBy
    WHILE @@FETCH_STATUS = 0  
    BEGIN
	   SET @bodyEditEmail = @bodyEditEmail + 'STO '+@stoNo+' have been updated in '+@updatedField + ' by '+@updatedBy+'<br/>';
	   FETCH NEXT FROM emailEditTransport INTO @stoNo,@updatedField,@updatedBy
    END   
    CLOSE emailEditAdmin;
    DEALLOCATE emailEditAdmin;
    SET @textEmailEditData = 'Hi,<br/>We would like to inform you that,<br/>'+@bodyEditEmail+'<br/>Thank You';
    SET @bodyemail ='<html><body>'+@textEmailEditData+'</body></html>';
    EXEC [msdb].[dbo].[sp_send_dbmail] 
	   @profile_name='DFIS_Mail',
	   @body = @bodyemail,
	   @body_format='HTML',
	   @recipients=@listEmailAdmin,
	   @subject = 'DFIS Email Picking List'
    --END   : BAGIAN SEND EMAIL UNTUK ADMIN EDIT PICKING LIST
    FETCH NEXT FROM locationRegion INTO @region
END   
CLOSE locationRegion;
DEALLOCATE locationRegion;
 
--START : BAGIAN UPDATE FLAG EMAIL
MERGE [dbo].TransportOrder as to2
USING (SELECT td.TOId FROM @TableData AS td) AS tempTable
ON to2.IDTransportOrder = tempTable.TOId
WHEN Matched THEN
    UPDATE SET to2.ChangeLogFields = '', to2.FlagEmail = 2, to2.UpdatedBy = 'Email', to2.UpdatedDate = GETDATE();
--END   : BAGIAN UPDATE FLAG EMAIL 
 
END;
GO