-- author : hakim
-- date : 2018-10-15
-- desc : migrate lostclaimdamage page

USE [TOM]
GO
/****** Object:  Table [dbo].[TransportLostClaimDamage]    Script Date: 09/10/2018 17:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TransportLostClaimDamage](
	[GPNumber] [varchar](32) NOT NULL,
	[SJNumber] [varchar](32) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[SJDate] [date] NULL,
	[ClaimType] [varchar](50) NULL,
	[DeliveryNumberNote] [varchar](32) NULL,
	[OriginWarehouse] [varchar](100) NULL,
	[DestinationWarehouse] [varchar](100) NULL,
	[STONumber] [varchar](20) NULL,
	[DateOfDelivery] [date] NULL,
	[DateOfIncident] [date] NULL,
	[TransportationVendor] [varchar](50) NULL,
	[PoliceRegNumber] [varchar](10) NULL,
	[Driver] [varchar](100) NULL,
	[CoDriver] [varchar](100) NULL,
	[Receiver] [varchar](50) NULL,
	[Witness] [varchar](50) NULL,
	[DNtoReverseLogistics] [varchar](50) NULL,
	[Attachment] [varchar](max) NULL,
	[ClaimExpense] [varchar](50) NULL,
	[TransportationMode] [varchar](50) NULL,
	[GoodsCategory] [varchar](50) NULL,
	[InitClaimedAmount] [money] NULL,
	[ClaimCategory] [varchar](50) NULL,
	[TotalClaimInPack] [int] NULL,
	[TotalClaimInStick] [int] NULL,
	[BSWarehouseReceiveDate] [date] NULL,
	[HMSMemoNumber] [varchar](50) NULL,
	[HMSMemoDate] [date] NULL,
	[HMSMemoFile] [varchar](max) NULL,
	[InvoiceNumber] [varchar](50) NULL,
	[InvoiceDate] [date] NULL,
	[InvoiceAmount] [money] NULL,
	[VendorPaymentDate] [date] NULL,
	[GrossLossAmount] [money] NULL,
	[NetClaim] [money] NULL,
	[InsurancePaymentProof] [varchar](max) NULL,
	[EDPSNumber] [varchar](50) NULL,
	[EDPSDate] [date] NULL,
	[IncinerationReportDate] [date] NULL,
	[IncinerationReportFile] [varchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [varchar](128) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](128) NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Remarks] [varchar](500) NULL,
	[Supervisor] [varchar](200) NULL,
	[RealStatus] [varchar](200) NULL,
 CONSTRAINT [PK_TransportLostClaimDamage] PRIMARY KEY CLUSTERED 
(
	[GPNumber] ASC,
	[SJNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
