-- author : hakim
-- date : 2018-10-15
-- desc : migrate lostclaimdamage page
USE [tom]

GO
/****** Object:  Table [dbo].[TransportLostClaimFACode]    Script Date: 09/10/2018 17:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TransportLostClaimFACode](
	[IDLostClaimFACode] [int] IDENTITY(1,1) NOT NULL,
	[GPNumber] [varchar](32) NOT NULL,
	[SJNumber] [varchar](32) NOT NULL,
	[FACode] [varchar](50) NOT NULL,
	[SpeakingCode] [varchar](20) NOT NULL,
	[LostOrDamage] [varchar](50) NOT NULL,
	[Pack] [int] NOT NULL,
	[Description] [varchar](1000) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [varchar](128) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](128) NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Remarks] [varchar](500) NULL
 CONSTRAINT [PK_TransportLostClaimFACode_1] PRIMARY KEY CLUSTERED 
(
	[IDLostClaimFACode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TransportLostClaimFACode] ON 

GO
INSERT [dbo].[TransportLostClaimFACode] ([IDLostClaimFACode], [GPNumber], [SJNumber], [FACode], [SpeakingCode], [LostOrDamage], [Pack], [Description], [IsActive], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Remarks]) VALUES (8, N'9873456321', N'123897654', N'FA010775.21', N'UML16RB', N'Damage', 1, N'Damage - 1 pack', 1, N'pmi\pherluki', CAST(0x0000A83100E43F1A AS DateTime), N'pmi\pherluki', CAST(0x0000A83100E43F1A AS DateTime), NULL)
GO
INSERT [dbo].[TransportLostClaimFACode] ([IDLostClaimFACode], [GPNumber], [SJNumber], [FACode], [SpeakingCode], [LostOrDamage], [Pack], [Description], [IsActive], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Remarks]) VALUES (9, N'23tre65', N'9789575', N'FA010775.17', N'UML16RA', N'Damage', 12, N'-', 1, N'pmi\pherluki', CAST(0x0000A83100E7A8DA AS DateTime), N'pmi\pherluki', CAST(0x0000A83100E7A8DA AS DateTime), NULL)
GO
INSERT [dbo].[TransportLostClaimFACode] ([IDLostClaimFACode], [GPNumber], [SJNumber], [FACode], [SpeakingCode], [LostOrDamage], [Pack], [Description], [IsActive], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Remarks]) VALUES (10, N'GP/KAR/1017/00071', N'SJ/KAR/1017/00120', N'FA010775.17', N'UML16RA', N'Damage', 1, N'-', 1, N'pmi\pherluki', CAST(0x0000A83200F26D28 AS DateTime), N'pmi\pherluki', CAST(0x0000A83200F26D28 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[TransportLostClaimFACode] OFF
GO
--ALTER TABLE [dbo].[TransportLostClaimFACode]  WITH CHECK ADD  CONSTRAINT [FK_TransportLostClaimFACode_MasterFABrand] FOREIGN KEY([FACode])
--REFERENCES [dbo].[MasterFABrand] ([FACode])
--GO
--ALTER TABLE [dbo].[TransportLostClaimFACode] CHECK CONSTRAINT [FK_TransportLostClaimFACode_MasterFABrand]
--GO
ALTER TABLE [dbo].[TransportLostClaimFACode]  WITH CHECK ADD  CONSTRAINT [FK_TransportLostClaimFACode_TransportLostClaimDamage] FOREIGN KEY([GPNumber], [SJNumber])
REFERENCES [dbo].[TransportLostClaimDamage] ([GPNumber], [SJNumber])
GO
ALTER TABLE [dbo].[TransportLostClaimFACode] CHECK CONSTRAINT [FK_TransportLostClaimFACode_TransportLostClaimDamage]
GO
