USE [TOM]
GO
/****** Object:  Table [dbo].[GPDetail]    Script Date: 10/10/2018 14:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GPDetail](
	[GPNo] [varchar](20) NOT NULL,
	[SJNo] [varchar](20) NOT NULL,
	[Brand] [varchar](50) NOT NULL,
	[SJDate] [date] NULL,
	[STONo] [varchar](500) NULL,
	[FromAddress] [varchar](100) NULL,
	[ToAddress] [varchar](100) NULL,
	[Quantity] [int] NULL,
	[ItemType] [varchar](20) NULL,
	[Comodity] [varchar](10) NULL,
	[PickIn] [datetime] NULL,
	[LoadStart] [datetime] NULL,
	[LoadFinish] [datetime] NULL,
	[PickOut] [datetime] NULL,
	[DropIn] [datetime] NULL,
	[UnloadStart] [datetime] NULL,
	[UnloadFinish] [datetime] NULL,
	[DropOut] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GPDetail] PRIMARY KEY CLUSTERED 
(
	[GPNo] ASC,
	[SJNo] ASC,
	[Brand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GPDetail_temp]    Script Date: 10/10/2018 14:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GPDetail_temp](
	[GPNo] [varchar](20) NOT NULL,
	[SJNo] [varchar](20) NOT NULL,
	[Brand] [varchar](50) NOT NULL,
	[SJDate] [date] NULL,
	[STONo] [varchar](500) NULL,
	[FromAddress] [varchar](100) NULL,
	[ToAddress] [varchar](100) NULL,
	[Quantity] [int] NULL,
	[ItemType] [varchar](20) NULL,
	[Comodity] [varchar](10) NULL,
	[PickIn] [datetime] NULL,
	[LoadStart] [datetime] NULL,
	[LoadFinish] [datetime] NULL,
	[PickOut] [datetime] NULL,
	[DropIn] [datetime] NULL,
	[UnloadStart] [datetime] NULL,
	[UnloadFinish] [datetime] NULL,
	[DropOut] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GPDetail_temp] PRIMARY KEY CLUSTERED 
(
	[GPNo] ASC,
	[SJNo] ASC,
	[Brand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GPHeader]    Script Date: 10/10/2018 14:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GPHeader](
	[GPNo] [varchar](20) NOT NULL,
	[GPDate] [date] NULL,
	[GPStatus] [varchar](20) NULL,
	[PoliceNumber] [varchar](15) NULL,
	[FleetType] [varchar](100) NULL,
	[VendorName] [varchar](50) NULL,
	[Mode] [varchar](10) NULL,
	[StartAddress] [varchar](100) NULL,
	[FinishAddress] [varchar](100) NULL,
	[Vessel] [varchar](50) NULL,
	[ShipmentType] [varchar](50) NULL,
	[ContainerNo] [varchar](50) NULL,
	[RibbonNo] [varchar](50) NULL,
	[KM] [decimal](18, 2) NULL,
	[ETD] [datetime] NULL,
	[ETA] [datetime] NULL,
	[ATD] [datetime] NULL,
	[ATA] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GPHeader] PRIMARY KEY CLUSTERED 
(
	[GPNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GPHeader_temp]    Script Date: 10/10/2018 14:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GPHeader_temp](
	[GPNo] [varchar](20) NOT NULL,
	[GPDate] [date] NULL,
	[GPStatus] [varchar](20) NULL,
	[PoliceNumber] [varchar](15) NULL,
	[FleetType] [varchar](100) NULL,
	[VendorName] [varchar](50) NULL,
	[Mode] [varchar](10) NULL,
	[StartAddress] [varchar](100) NULL,
	[FinishAddress] [varchar](100) NULL,
	[Vessel] [varchar](50) NULL,
	[ShipmentType] [varchar](50) NULL,
	[ContainerNo] [varchar](50) NULL,
	[RibbonNo] [varchar](50) NULL,
	[KM] [decimal](18, 2) NULL,
	[ETD] [datetime] NULL,
	[ETA] [datetime] NULL,
	[ATD] [datetime] NULL,
	[ATA] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GPHeader_temp] PRIMARY KEY CLUSTERED 
(
	[GPNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
