-- Author      : HAKIM
-- Create Date : 2018-11-01
-- Description : add return tab

IF EXISTS (SELECT * FROM sys.objects WHERE  object_id = OBJECT_ID(N'[dbo].[FnTransportationSummary]') AND type IN ( N'FN', N'IF', N'TF', N'FS', N'FT' ))
  DROP FUNCTION [dbo].[FnTransportationSummary]

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FnTransportationSummary]
(
	@filterTab VARCHAR(100),
	@filterRole VARCHAR(100),
	@filterSort VARCHAR(100)
)
RETURNS  @Ret TABLE
(
	[p1] nvarchar(100),
	[p2] nvarchar(100),
	[p3] nvarchar(100),
	[p4] nvarchar(100),
	val nvarchar(100),
	res nvarchar(100)
)
AS
BEGIN
--SET @filterTab = 'Trip'
--SET @filterRole = 'ALL'
--SET @filterSort = 'StartLocation'

--SET @filterTab = 'COST'
--SET @filterRole = 'ADMIN TRANSPORT'
--SET @filterSort = 'VENDOR'

--SET @filterTab = 'Trip'
--SET @filterRole = 'ADMIN TRANSPORT'
--SET @filterSort = 'Vendor'

--SET @filterTab = 'Cost'
--SET @filterRole = 'ALL'
--SET @filterSort = 'Vendor'

--SET @filterTab = 'Cost'
--SET @filterRole = 'ALL'
--SET @filterSort = 'StartLocation'
SET @filterTab = UPPER(@filterTab);
SET @filterRole = UPPER(@filterRole);
SET @filterSort = UPPER(@filterSort);

	IF(@filterSort = 'VENDOR') -- lvl 1 filter by sort
	BEGIN 
		-- =================================================================================== FILTER BY TAB : BEGIN * TAB TRIP * =================================================================================
		-- lvl 2 filter by role
		IF(@filterRole != 'ALL')
		BEGIN
			
			-- lvl 3 filter by role
			IF(@filterTab = 'TRIP') -- 1
			BEGIN
				-- TAB TRIP 
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDVendor ,VendorName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDVendor ,VendorName, January,February,March,April,May,June,July,August,September,October,November,December, SUM(January+February+March+April+May+June+July+August+September+October+November+December) as total FROM (
						SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
						te.TransportMode, mv.IDVendor, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.IDTransportExecution as total, mv.VendorName
						FROM [dbo].[TransportExecution] te
						INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
						INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
						INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
						WHERE mm.MapFrom = @filterRole
						GROUP BY te.TransportMode,mv.IDVendor, te.month, mv.VendorName,te.IDTransportExecution
					)as src
					PIVOT
					(
						count(total)
						for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
					)as pvt
					GROUP BY [Sorting],TransportMode, IDVendor ,VendorName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
				-- TAB TRIP 
			END
			ELSE IF(@filterTab = 'COST') -- 2
			BEGIN
			--	-- TAB COST 
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDVendor ,VendorName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDVendor ,VendorName
						,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
						,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
						,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
						,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
						,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
						,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
						,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
						,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
						,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
						,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
						,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
						,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
						,CASE WHEN SUM(
								  (CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) is null 
							THEN 0 ELSE 
							SUM(
								(CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) END as total 
						FROM (
							SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
							te.TransportMode, mv.IDVendor, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.BaseCost as total, mv.VendorName--,te.IDTransportExecution
							FROM [dbo].[TransportExecution] te
							INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
							INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
							INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
							WHERE mm.MapFrom = @filterRole
							GROUP BY te.TransportMode,mv.IDVendor, te.month, mv.VendorName,te.BaseCost
						)as src
						PIVOT
						(
							sum(total)
							for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
						)as pvt
						GROUP BY [Sorting],TransportMode, IDVendor ,VendorName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			--	-- TAB COST 
			END
			ELSE IF(@filterTab = 'KMDRIVEN') -- 3
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDVendor ,VendorName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDVendor ,VendorName
						,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
						,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
						,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
						,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
						,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
						,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
						,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
						,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
						,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
						,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
						,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
						,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
						,CASE WHEN SUM(
								  (CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) is null 
							THEN 0 ELSE 
							SUM(
								(CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) END as total 
						FROM (
							SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
							te.TransportMode, mv.IDVendor, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.TotalKMBased as total, mv.VendorName
							FROM [dbo].[TransportExecution] te
							INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
							INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
							INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
							WHERE mm.MapFrom = @filterRole
							GROUP BY te.TransportMode,mv.IDVendor, te.month, mv.VendorName,te.TotalKMBased
						)as src
						PIVOT
						(
							sum(total)
							for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
						)as pvt
						GROUP BY [Sorting],TransportMode, IDVendor ,VendorName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
			ELSE IF(@filterTab = 'KMTOTAL') -- 4
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDVendor ,VendorName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDVendor ,VendorName
						,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
						,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
						,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
						,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
						,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
						,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
						,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
						,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
						,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
						,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
						,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
						,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
						,CASE WHEN SUM(
								  (CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) is null 
							THEN 0 ELSE 
							SUM(
								(CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) END as total 
						FROM (
							SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
							te.TransportMode, mv.IDVendor, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.TotalKM as total, mv.VendorName
							FROM [dbo].[TransportExecution] te
							INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
							INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
							INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
							WHERE mm.MapFrom = @filterRole
							GROUP BY te.TransportMode,mv.IDVendor, te.month, mv.VendorName,te.TotalKM
						)as src
						PIVOT
						(
							sum(total)
							for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
						)as pvt
						GROUP BY [Sorting],TransportMode, IDVendor ,VendorName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
			--ELSE IF(@filterTab = 'STICK') -- 5
			--BEGIN
				
			--END
			
		END
		ELSE -- ALL
		BEGIN
			IF(@filterTab = 'TRIP') -- 1
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDVendor ,VendorName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDVendor ,VendorName, January,February,March,April,May,June,July,August,September,October,November,December, SUM(January+February+March+April+May+June+July+August+September+October+November+December) as total FROM (
						SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
						te.TransportMode, mv.IDVendor, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.IDTransportExecution as total, mv.VendorName
						FROM [dbo].[TransportExecution] te
						INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
						INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
						INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
						GROUP BY te.TransportMode,mv.IDVendor, te.month, mv.VendorName,te.IDTransportExecution
					)as src
					PIVOT
					(
						count(total)
						for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
					)as pvt
					GROUP BY [Sorting],TransportMode, IDVendor ,VendorName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
			ELSE IF(@filterTab = 'COST') -- 2
			BEGIN
				-- TAB COST 
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDVendor ,VendorName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDVendor ,VendorName
						,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
						,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
						,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
						,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
						,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
						,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
						,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
						,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
						,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
						,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
						,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
						,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
						,CASE WHEN SUM(
								  (CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) is null 
							THEN 0 ELSE 
							SUM(
								(CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) END as total 
						FROM (
							SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
							te.TransportMode, mv.IDVendor, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.BaseCost as total, mv.VendorName
							FROM [dbo].[TransportExecution] te
							INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
							INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
							INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
							--WHERE mm.MapFrom = @filterRole
							GROUP BY te.TransportMode,mv.IDVendor, te.month, mv.VendorName,te.BaseCost
						)as src
						PIVOT
						(
							sum(total)
							for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
						)as pvt
						GROUP BY [Sorting],TransportMode, IDVendor ,VendorName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
				-- TAB COST 

			END
			ELSE IF(@filterTab = 'KMDRIVEN') -- 3
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDVendor ,VendorName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDVendor ,VendorName
						,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
						,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
						,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
						,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
						,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
						,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
						,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
						,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
						,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
						,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
						,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
						,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
						,CASE WHEN SUM(
								  (CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) is null 
							THEN 0 ELSE 
							SUM(
								(CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) END as total 
						FROM (
							SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
							te.TransportMode, mv.IDVendor, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.TotalKMBased as total, mv.VendorName
							FROM [dbo].[TransportExecution] te
							INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
							INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
							INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
							--WHERE mm.MapFrom = @filterRole
							GROUP BY te.TransportMode,mv.IDVendor, te.month, mv.VendorName,te.TotalKMBased
						)as src
						PIVOT
						(
							sum(total)
							for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
						)as pvt
						GROUP BY [Sorting],TransportMode, IDVendor ,VendorName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
			ELSE IF(@filterTab = 'KMTOTAL') -- 4
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDVendor ,VendorName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDVendor ,VendorName
						,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
						,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
						,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
						,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
						,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
						,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
						,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
						,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
						,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
						,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
						,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
						,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
						,CASE WHEN SUM(
								  (CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) is null 
							THEN 0 ELSE 
							SUM(
								(CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) END as total 
						FROM (
							SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
							te.TransportMode, mv.IDVendor, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.TotalKM as total, mv.VendorName
							FROM [dbo].[TransportExecution] te
							INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
							INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
							INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
							--WHERE mm.MapFrom = @filterRole
							GROUP BY te.TransportMode,mv.IDVendor, te.month, mv.VendorName,te.TotalKM
						)as src
						PIVOT
						(
							sum(total)
							for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
						)as pvt
						GROUP BY [Sorting],TransportMode, IDVendor ,VendorName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
			--ELSE IF(@filterTab = 'STICK') -- 5
			--BEGIN
				
			--END
		END
		
	END
	ELSE IF(@filterSort = 'STARTLOCATION')
	BEGIN
		IF(@filterRole != 'ALL')
		BEGIN
			IF(@filterTab = 'TRIP') -- 1
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDLocation ,LocationName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDLocation ,LocationName, January,February,March,April,May,June,July,August,September,October,November,December, SUM(January+February+March+April+May+June+July+August+September+October+November+December) as total FROM (
						SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
						te.TransportMode, ml.IDLocation, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.IDTransportExecution as total, ml.LocationName
						FROM [dbo].[TransportExecution] te
						INNER JOIN MasterLocation ml on te.StartLocation = ml.IDLocation COLLATE DATABASE_DEFAULT
						INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
						INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
						INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
						WHERE mm.MapFrom = @filterRole
						GROUP BY te.TransportMode,ml.IDLocation, te.month, ml.LocationName,te.IDTransportExecution
					)as src
					PIVOT
					(
						count(total)
						for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
					)as pvt
					GROUP BY [Sorting],TransportMode, IDLocation ,LocationName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
			ELSE IF(@filterTab = 'COST') -- 2
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDLocation ,LocationName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDLocation ,LocationName
						,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
						,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
						,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
						,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
						,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
						,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
						,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
						,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
						,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
						,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
						,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
						,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
						,CASE WHEN SUM(
								  (CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) is null 
							THEN 0 ELSE 
							SUM(
								(CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) END as total 
						FROM (
							SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
							te.TransportMode, ml.IDLocation, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.BaseCost as total, ml.LocationName
							FROM [dbo].[TransportExecution] te
							INNER JOIN MasterLocation ml on te.StartLocation = ml.IDLocation COLLATE DATABASE_DEFAULT
							INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
							INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
							INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
							--WHERE mm.MapFrom = 'ADMIN WAREHOUSE' --@filterRole
							GROUP BY te.TransportMode,ml.IDLocation, te.month, ml.LocationName,te.BaseCost
						)as src
						PIVOT
						(
							sum(total)
							for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
						)as pvt
						GROUP BY [Sorting],TransportMode, IDLocation ,LocationName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
			ELSE IF(@filterTab = 'KMDRIVEN') -- 3
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDLocation ,LocationName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDLocation ,LocationName
						,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
						,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
						,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
						,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
						,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
						,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
						,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
						,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
						,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
						,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
						,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
						,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
						,CASE WHEN SUM(
								  (CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) is null 
							THEN 0 ELSE 
							SUM(
								(CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) END as total 
						FROM (
							SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
							te.TransportMode, ml.IDLocation, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.TotalKMBased as total, ml.LocationName
							FROM [dbo].[TransportExecution] te
							INNER JOIN MasterLocation ml on te.StartLocation = ml.IDLocation COLLATE DATABASE_DEFAULT
							INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
							INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
							INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
							--WHERE mm.MapFrom = 'ADMIN WAREHOUSE' --@filterRole
							GROUP BY te.TransportMode,ml.IDLocation, te.month, ml.LocationName,te.TotalKMBased
						)as src
						PIVOT
						(
							sum(total)
							for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
						)as pvt
						GROUP BY [Sorting],TransportMode, IDLocation ,LocationName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
			ELSE IF(@filterTab = 'KMTOTAL') -- 4
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDLocation ,LocationName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDLocation ,LocationName
						,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
						,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
						,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
						,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
						,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
						,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
						,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
						,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
						,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
						,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
						,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
						,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
						,CASE WHEN SUM(
								  (CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) is null 
							THEN 0 ELSE 
							SUM(
								(CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) END as total 
						FROM (
							SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
							te.TransportMode, ml.IDLocation, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.TotalKM as total, ml.LocationName
							FROM [dbo].[TransportExecution] te
							INNER JOIN MasterLocation ml on te.StartLocation = ml.IDLocation COLLATE DATABASE_DEFAULT
							INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
							INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
							INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
							--WHERE mm.MapFrom = 'ADMIN WAREHOUSE' --@filterRole
							GROUP BY te.TransportMode,ml.IDLocation, te.month, ml.LocationName,te.TotalKM
						)as src
						PIVOT
						(
							sum(total)
							for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
						)as pvt
						GROUP BY [Sorting],TransportMode, IDLocation ,LocationName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
		END
		ELSE
		BEGIN
			IF(@filterTab = 'TRIP') -- 1
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDLocation ,LocationName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDLocation ,LocationName, January,February,March,April,May,June,July,August,September,October,November,December, SUM(January+February+March+April+May+June+July+August+September+October+November+December) as total FROM (
						SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
						te.TransportMode, ml.IDLocation, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.IDTransportExecution as total, ml.LocationName
						FROM [dbo].[TransportExecution] te
						INNER JOIN MasterLocation ml on te.StartLocation = ml.IDLocation COLLATE DATABASE_DEFAULT
						GROUP BY te.TransportMode,ml.IDLocation, te.month, ml.LocationName,te.IDTransportExecution
					)as src
					PIVOT
					(
						count(total)
						for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
					)as pvt
					GROUP BY [Sorting],TransportMode, IDLocation ,LocationName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
			--ELSE IF(@filterTab = 'COST') -- 2
			--BEGIN
			--	-- TAB COST 

			--	-- TAB COST 

			--END
			ELSE IF(@filterTab = 'KMDRIVEN') -- 3
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDLocation ,LocationName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDLocation ,LocationName
						,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
						,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
						,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
						,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
						,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
						,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
						,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
						,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
						,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
						,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
						,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
						,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
						,CASE WHEN SUM(
								  (CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) is null 
							THEN 0 ELSE 
							SUM(
								(CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) END as total 
						FROM (
							SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
							te.TransportMode, ml.IDLocation, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.TotalKMBased as total, ml.LocationName ,te.IDTransportExecution
							FROM [dbo].[TransportExecution] te
							INNER JOIN MasterLocation ml on te.StartLocation = ml.IDLocation COLLATE DATABASE_DEFAULT
							INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
							INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
							INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
							--WHERE mm.MapFrom = @filterRole
							GROUP BY te.TransportMode,ml.IDLocation, te.month, ml.LocationName,te.TotalKMBased ,te.IDTransportExecution
						)as src
						PIVOT
						(
							sum(total)
							for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
						)as pvt
						GROUP BY [Sorting],TransportMode, IDLocation ,LocationName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
			ELSE IF(@filterTab = 'KMTOTAL') -- 4
			BEGIN
				INSERT INTO @Ret
				SELECT [Sorting],TransportMode, IDLocation ,LocationName,REPLACE(val, '.',',') as val,  [res] FROM (
					SELECT [Sorting],TransportMode, IDLocation ,LocationName
						,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
						,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
						,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
						,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
						,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
						,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
						,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
						,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
						,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
						,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
						,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
						,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
						,CASE WHEN SUM(
								  (CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) is null 
							THEN 0 ELSE 
							SUM(
								(CASE WHEN January IS NULL THEN 0 ELSE January END)
								+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
								+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
								+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
								+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
								+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
								+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
								+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
								+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
								+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
								+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
								+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
							) END as total 
						FROM (
							SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
							te.TransportMode, ml.IDLocation, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], te.TotalKM as total, ml.LocationName ,te.IDTransportExecution
							FROM [dbo].[TransportExecution] te
							INNER JOIN MasterLocation ml on te.StartLocation = ml.IDLocation COLLATE DATABASE_DEFAULT
							INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
							INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
							INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
							--WHERE mm.MapFrom = @filterRole
							GROUP BY te.TransportMode,ml.IDLocation, te.month, ml.LocationName,te.TotalKM ,te.IDTransportExecution
						)as src
						PIVOT
						(
							sum(total)
							for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
						)as pvt
						GROUP BY [Sorting],TransportMode, IDLocation ,LocationName, January,February,March,April,May,June,July,August,September,October,November,December
				) piv
				UNPIVOT
				(
					val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
				) UNPIV;
			END
		END
	END
	ELSE IF((@filterTab = 'ASDPNSPSI') OR (@filterTab = 'SPSI')) -- 
	BEGIN
		INSERT INTO @Ret
		SELECT [Sorting],TransportMode, IDLocation ,LocationName,REPLACE(val, '.',',') as val,  [res] FROM (
			SELECT [Sorting],TransportMode, IDLocation ,LocationName
				,CASE WHEN SUM(January) IS NULL THEN 0 ELSE SUM(January) END as January
				,CASE WHEN SUM(February) IS NULL THEN 0 ELSE SUM(February) END as February
				,CASE WHEN SUM(March) IS NULL THEN 0 ELSE SUM(March) END as March
				,CASE WHEN SUM(April) IS NULL THEN 0 ELSE SUM(April) END as April
				,CASE WHEN SUM(May) IS NULL THEN 0 ELSE SUM(May) END as May
				,CASE WHEN SUM(June) IS NULL THEN 0 ELSE SUM(June) END as June
				,CASE WHEN SUM(July) IS NULL THEN 0 ELSE SUM(July) END as July
				,CASE WHEN SUM(August) IS NULL THEN 0 ELSE SUM(August) END as August
				,CASE WHEN SUM(September) IS NULL THEN 0 ELSE SUM(September) END as September
				,CASE WHEN SUM(October) IS NULL THEN 0 ELSE SUM(October) END as October
				,CASE WHEN SUM(November) IS NULL THEN 0 ELSE SUM(November) END as November
				,CASE WHEN SUM(December) IS NULL THEN 0 ELSE SUM(December) END as December
				,CASE WHEN SUM(
							(CASE WHEN January IS NULL THEN 0 ELSE January END)
						+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
						+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
						+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
						+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
						+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
						+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
						+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
						+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
						+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
						+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
						+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
					) is null 
					THEN 0 ELSE 
					SUM(
						(CASE WHEN January IS NULL THEN 0 ELSE January END)
						+ (CASE WHEN February IS NULL THEN 0 ELSE February END)
						+ (CASE WHEN March IS NULL THEN 0 ELSE March END)
						+ (CASE WHEN April IS NULL THEN 0 ELSE April END)
						+ (CASE WHEN May IS NULL THEN 0 ELSE May END)
						+ (CASE WHEN June IS NULL THEN 0 ELSE June END)
						+ (CASE WHEN July IS NULL THEN 0 ELSE July END)
						+ (CASE WHEN August IS NULL THEN 0 ELSE August END)
						+ (CASE WHEN September IS NULL THEN 0 ELSE September END)
						+ (CASE WHEN October IS NULL THEN 0 ELSE October END)
						+ (CASE WHEN November IS NULL THEN 0 ELSE November END)
						+ (CASE WHEN December IS NULL THEN 0 ELSE December END)
					) END as total 
				FROM (
					SELECT (CASE WHEN te.TransportMode = 'Truck' THEN 1 ELSE (CASE WHEN te.TransportMode = 'Ship' THEN 2 ELSE 3 END) END) as [Sorting],
					te.TransportMode, ml.IDLocation, DateName( month , DateAdd( month , te.[month] , 0 ) - 1 ) as [month], CASE WHEN @filterSort = 'ASDP' THEN te.ASDPCost ELSE te.SPSICost END as total, ml.LocationName ,te.IDTransportExecution
					FROM [dbo].[TransportExecution] te
					INNER JOIN MasterLocation ml on te.StartLocation = ml.IDLocation COLLATE DATABASE_DEFAULT
					INNER JOIN MasterVendor mv on te.IDVendor = mv.IDVendor
					INNER JOIN MasterMapping mm on mv.VendorName = mm.MapTo
					INNER JOIN MasterRole mr on mr.RoleName = mm.MapFrom
					--WHERE mm.MapFrom = @filterRole
					GROUP BY te.TransportMode,ml.IDLocation, te.month, ml.LocationName,CASE WHEN @filterSort = 'ASDP' THEN te.ASDPCost ELSE te.SPSICost END ,te.IDTransportExecution
				)as src
				PIVOT
				(
					sum(total)
					for [month] in (January,February,March,April,May,June,July,August,September,October,November,December)
				)as pvt
				GROUP BY [Sorting],TransportMode, IDLocation ,LocationName, January,February,March,April,May,June,July,August,September,October,November,December
		) piv
		UNPIVOT
		(
			val for [res] in (January,February,March,April,May,June,July,August,September,October,November,December, total)
		) UNPIV;
	END
	RETURN;
END;