IF EXISTS (SELECT * FROM sys.objects WHERE  object_id = OBJECT_ID(N'[dbo].[KPILoadFactorAvg]') AND type IN ( N'FN', N'IF', N'TF', N'FS', N'FT' ))
  DROP FUNCTION [dbo].[KPILoadFactorAvg]

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[KPILoadFactorAvg](@filterYear INT)
RETURNS @Result TABLE
(
	RowNumber VARCHAR(1),
	RowLabels Varchar(20),
	[TripJanuary] INT,
	[January] DECIMAL(18,2),
	[TripFebruary] INT,
	[February] DECIMAL(18,2),
	[TripMarch]INT,
	[March] DECIMAL(18,2),
	[TripApril] INT,
	[April] DECIMAL(18,2),
	[TripMay] INT,
	[May] DECIMAL(18,2),
	[TripJune] INT,
	[June] DECIMAL(18,2),
	[TripJuly] INT,
	[July] DECIMAL(18,2),
	[TripAugust] INT,
	[August] DECIMAL(18,2),
	[TripSeptember] INT,
	[September] DECIMAL(18,2),
	[TripOctober] INT,
	[October] DECIMAL(18,2),
	[TripNovember] INT,
	[November] DECIMAL(18,2),
	[TripDecember] INT,
	[December] DECIMAL(18,2)
)
AS
BEGIN
	-- author : hakim
	-- date : 2018-11-02
	-- desc : TransportSummary Tab LoadFactor

	DECLARE @totalDataPerMonth INT, @totalrow1 INT, @totalrow2 INT, @totalrow3 INT, @totalrow4 INT, @totalrow5 INT
	DECLARE @Year INT
	DECLARE @temp TABLE (month INT, grandtotaldatapermonth INT,totalrow1 INT, totalrow2 INT, totalrow3 INT, totalrow4 INT, totalrow5 INT);
	DECLARE @i INT = 0

	SET @Year =  @filterYear --YEAR(GETDATE())
	WHILE @i < 12 
	BEGIN
	SET @i = @i + 1
	/* do some work */
	SET @totalDataPerMonth = (SELECT COUNT(*) FROM [dbo].[TransportExecution] WHERE month = @i and year = @Year );

	SET @totalrow1= (SELECT COUNT(*) FROM [dbo].[TransportExecution] WHERE [avgLoadFactor] >= 100 and [month] = @i and [Year] = @Year);
	SET @totalrow2= (SELECT COUNT(*) FROM [dbo].[TransportExecution] WHERE [avgLoadFactor] < 100 and [avgLoadFactor] >= 90 and month = @i and [Year] = @Year);
	SET @totalrow3= (SELECT COUNT(*) FROM [dbo].[TransportExecution] WHERE [avgLoadFactor] < 90 and [avgLoadFactor] >= 80 and month = @i and [Year] = @Year);
	SET @totalrow4= (SELECT COUNT(*) FROM [dbo].[TransportExecution] WHERE [avgLoadFactor] < 80 and [avgLoadFactor] >= 70 and month = @i and [Year] = @Year);
	SET @totalrow5= (SELECT COUNT(*) FROM [dbo].[TransportExecution] WHERE ([avgLoadFactor] < 70 OR [avgLoadFactor] IS NULL) and month = @i and [Year] = @Year);
	INSERT INTO @temp values(@i,@totalDataPerMonth,@totalrow1,@totalrow2 , @totalrow3 , @totalrow4 , @totalrow5 )

END

INSERT INTO @Result
SELECT * FROM
(
	SELECT '1' AS RowNumber, 'Full 100%' AS RowLabels, ISNULL((CONVERT(DECIMAL(18,2),(CONVERT(DECIMAL(18,2),totalrow1)/NULLIF(CONVERT(DECIMAL(18,2),grandtotaldatapermonth),0)) * 100)),0) AS LoadFactor,DATENAME(month, DATEADD(month, [month]-1, CAST('2008-01-01' AS datetime))) as [Month] FROM @temp
	UNION
	SELECT '1' AS RowNumber, 'Full 100%' AS RowLabels, totalrow1 as LoadFactor, 'Trip'+DATENAME(month, DATEADD(month, [month]-1, CAST('2008-01-01' AS datetime))) as [Month] FROM @temp
	UNION 
	SELECT '2' AS RowNumber, 'Below 100% to 90%' AS RowLabels, ISNULL((CONVERT(DECIMAL(18,2),(CONVERT(DECIMAL(18,2),totalrow2)/NULLIF(CONVERT(DECIMAL(18,2),grandtotaldatapermonth),0)) * 100)),0) AS LoadFactor,DATENAME(month, DATEADD(month, [month]-1, CAST('2008-01-01' AS datetime))) as [Month] FROM @temp
	UNION
	SELECT '2' AS RowNumber, 'Below 100% to 90%' AS RowLabels, totalrow2 as LoadFactor, 'Trip'+DATENAME(month, DATEADD(month, [month]-1, CAST('2008-01-01' AS datetime))) as [Month] FROM @temp
	UNION 
	SELECT '3' AS RowNumber, 'Below 90% to 80%' AS RowLabels, ISNULL((CONVERT(DECIMAL(18,2),(CONVERT(DECIMAL(18,2),totalrow3)/NULLIF(CONVERT(DECIMAL(18,2),grandtotaldatapermonth),0)) * 100)),0) AS LoadFactor,DATENAME(month, DATEADD(month, [month]-1, CAST('2008-01-01' AS datetime))) as [Month] FROM @temp
	UNION
	SELECT '3' AS RowNumber, 'Below 90% to 80%' AS RowLabels, totalrow3 as LoadFactor, 'Trip'+DATENAME(month, DATEADD(month, [month]-1, CAST('2008-01-01' AS datetime))) as [Month] FROM @temp
	UNION 
	SELECT '4' AS RowNumber, 'Below 80% to 70%' AS RowLabels, ISNULL((CONVERT(DECIMAL(18,2),(CONVERT(DECIMAL(18,2),totalrow4)/NULLIF(CONVERT(DECIMAL(18,2),grandtotaldatapermonth),0)) * 100)),0) AS LoadFactor,DATENAME(month, DATEADD(month, [month]-1, CAST('2008-01-01' AS datetime))) as [Month] FROM @temp
	UNION
	SELECT '4' AS RowNumber, 'Below 80% to 70%' AS RowLabels, totalrow4 as LoadFactor, 'Trip'+DATENAME(month, DATEADD(month, [month]-1, CAST('2008-01-01' AS datetime))) as [Month] FROM @temp
	UNION 
	SELECT '5' AS RowNumber, 'Below 70%' AS RowLabels, ISNULL((CONVERT(DECIMAL(18,2),(CONVERT(DECIMAL(18,2),totalrow5)/NULLIF(CONVERT(DECIMAL(18,2),grandtotaldatapermonth),0)) * 100)),0) AS LoadFactor,DATENAME(month, DATEADD(month, [month]-1, CAST('2008-01-01' AS datetime))) as [Month] FROM @temp
	UNION
	SELECT '5' AS RowNumber, 'Below 70%' AS RowLabels, totalrow5 as LoadFactor, 'Trip'+DATENAME(month, DATEADD(month, [month]-1, CAST('2008-01-01' AS datetime))) as [Month] FROM @temp
) AS SourceTable
PIVOT
(
SUM(LoadFactor)
	FOR [Month] IN ([TripJanuary],[January],[TripFebruary],[February],[TripMarch],[March],[TripApril],[April],[TripMay],[May],[TripJune],[June],[TripJuly],[July],[TripAugust],[August],[TripSeptember],[September],[TripOctober],[October],[TripNovember],[November],[TripDecember],[December])
)AS PivotTable
ORDER BY RowNumber ASC;

--INSERT INTO @Result
--select '6' as RowNumber,'Total' as RowLabels,SUM(0) as [TripJanuary],SUM([January]) as [January],SUM(0) as [TripFebruary] ,SUM([February]) as [February] ,SUM(0) as [TripMarch],SUM([March]) as [March],SUM(0) as [TripApril] ,SUM([April]) as [April],SUM(0) as [TripMay] ,SUM([May]) as [May],SUM(0) as [TripJune] ,SUM([June]) as [June],SUM(0) as [TripJuly] ,SUM([July]) as [July],SUM(0) as [TripAugust] ,SUM([August]) as [August],SUM(0) as [TripSeptember] ,SUM([September]) as [September],SUM(0) as [TripOctober] ,SUM([October]) as [October],SUM(0) as [TripNovember] ,SUM([November]) as [November],SUM(0) as [TripDecember] ,SUM([December]) as [December]
--FROM @Result 
--ORDER BY RowNumber ASC;
--SELECT * from @Result order by RowNumber asc
RETURN ;
END;