SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE Procedure InsertOrUpdateMstLocation

(

    @IDLocation VARCHAR(50),

       @LocationName VARCHAR(100),

       @ParentLocation VARCHAR(50),

       @Type VARCHAR(50),

       @IsActive BIT,

       @Remarks VARCHAR(500),

       @User VARCHAR(128)

)

AS

BEGIN

    IF (NOT EXISTS(SELECT TOP 1 IDLocation FROM DFIS.dbo.MasterLocation WHERE IDLocation = @IDLocation))
       BEGIN
 
              INSERT INTO DFIS.dbo.MasterLocation (IDLocation, LocationName, ParentLocation, Type, IsActive, CreatedBy, CreatedDate, UpdatedBy, UpdatedDate)

              VALUES (@IDLocation, @LocationName, @ParentLocation, @Type, @IsActive, @User, GETDATE(), @User, GETDATE())

       END

       ELSE

       BEGIN
	   
              UPDATE DFIS.dbo.MasterLocation

              SET LocationName = @LocationName, ParentLocation = @ParentLocation,

              Type = @Type, IsActive = @IsActive, Remarks = @Remarks, UpdatedBy = @User, UpdatedDate = GETDATE()

              WHERE IDLocation = @IDLocation

       END

END

GO
