<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!-- T1 -->
	<add name="DFISContextDB" connectionString="metadata=res://*/EDMX.DFISContextDB.csdl|res://*/EDMX.DFISContextDB.ssdl|res://*/EDMX.DFISContextDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.62.57;initial catalog=dfis;persist security info=True;user id=sa;password=v~:4jsrc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  <add name="DFISContextDB1" connectionString="data source=192.168.62.57;initial catalog=dfis;persist security info=True;user id=sa;password=v~:4jsrc" />
	
    <!-- Setting koneksi lokal disimpan disini, dirubah sesuai lokal masing2 (untuk mengganti bisa comment koneksi T1 diatas dan uncomment koneksi lokal -->
    <!-- <add name="DFISContextDB" connectionString="metadata=res://*/EDMX.DFISContextDB.csdl|res://*/EDMX.DFISContextDB.ssdl|res://*/EDMX.DFISContextDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AZKA-LAPTOP;Initial Catalog=TestBatch;Integrated Security=True&quot;" providerName="System.Data.EntityClient"/> -->
  </connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LocationFileNewsAndHighlight" value="~/Assets/Uploads/NewsHighlight/File/" />
    <add key="LocationImageNewsAndHighlight" value="~/Assets/Uploads/NewsHighlight/Image/" />
    <add key="LocationIconFacility" value="~/Assets/Uploads/IconFacility/" />
    <add key="LocationVehicleData" value="~/Assets/Uploads/VehicleData/" />
    <add key="LocationFileWarehouseStockCount" value="~/Assets/Uploads/WarehouseStockCount/" />
	<add key="WebRootUrl" value="http://www.hms-dfis.dev/dfis"/>
	<add key="AdminVendor" value="ADMIN VENDOR TRANSPORT" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms name="AuthDfis" loginUrl="~/Login/Index" timeout="2880" defaultUrl="~/Home/Index"/>
    </authentication>
    <!--<authentication mode="Windows">
    </authentication>-->
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--<identity impersonate="true" password="N3w5KT15d3v1#" userName="pmi\s-idsktisdev" />-->
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules>
      <!--<remove name="FormsAuthentication" />-->
    </modules>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".xlsx" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>