<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- T1 -->
    <!-- Please define local here

    <add name="DFISContextDB" connectionString="metadata=res://*/EDMX.DFISContextDB.csdl|res://*/EDMX.DFISContextDB.ssdl|res://*/EDMX.DFISContextDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PMIIDSUBDEV41\DEV01;initial catalog=DFIS_QA;persist security info=True;Trusted_Connection=Yes;user id=PMI\s-iddfisdev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DFISContextDB1" connectionString="data source=hmssqldfisprd.id.pmi;initial catalog=DFIS;persist security info=True;Trusted_Connection=Yes;user id=PMI\s-iddfisprd;" />
    -->
	  <add name="DFISContextDB" connectionString="metadata=res://*/EDMX.DFISContextDB.csdl|res://*/EDMX.DFISContextDB.ssdl|res://*/EDMX.DFISContextDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hmssqldfisprd.id.pmi\PRD;initial catalog=DFIS;persist security info=True;Trusted_Connection=Yes;user id=PMI\s-iddfisprd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="TOMContextDB" connectionString="metadata=res://*/EDMX.TOMContextDB.csdl|res://*/EDMX.TOMContextDB.ssdl|res://*/EDMX.TOMContextDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlprd_plsa_idpazdev01.dbiaas.sdi.pmi;initial catalog=TOM;persist security info=True;Trusted_Connection=Yes;user id=PMI\s-tom;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <!--<add name="TOMContextDB" connectionString="metadata=res://*/EDMX.TOMContextDB.csdl|res://*/EDMX.TOMContextDB.ssdl|res://*/EDMX.TOMContextDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlprd_plsa_idpazdev01.dbiaas.sdi.pmi;initial catalog=TOM2;persist security info=True;Trusted_Connection=Yes;user id=PMI\s-tom;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="aspnet:UpdatePanelMaxScriptLength" value="2147483644" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LocationFileNewsAndHighlight" value="../Assets/Uploads/NewsHighlight/File/" />
    <add key="LocationImageNewsAndHighlight" value="../Assets/Uploads/NewsHighlight/Image/" />
    <add key="LocationIconFacility" value="~/Assets/Uploads/IconFacility/" />
    <add key="DriverManagement" value="~/Assets/Uploads/DriverManagement/" />
    <add key="LocationVehicleData" value="~/Assets/Uploads/VehicleData/" />
    <add key="GenConImprovSS" value="~/Assets/Uploads/GenConImprovSS/" />
    <add key="TruckArrivalTemp" value="\\hmsdfisqas.id.pmi\apps$\DFIS\TOM\Transport\Archive" />
    <add key="WebRootUrl" value="http://pplsastd00017/tomv2/" />
	<add key="AdminVendor" value="ADMIN VENDOR TRANSPORT" />
    <add key="SMTPMailHost" value="secure.smtp.pmi" />
    <add key="SMTPMailPort" value="25" />
    <add key="MailFrom" value="HMS_TOM_App@id.pmi" />
    <add key="BaseDirectory" value="\\pplsastd00017\tomv2$\" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

  <system.web>
    <customErrors mode="Off" />

    <!--<authentication mode="Windows">
    </authentication>-->
	<authentication mode="Forms">
		<forms name="AuthDfis" loginUrl="~/Login/Index" timeout="2880" defaultUrl="~/Home/Index" />
	</authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="2147483647" executionTimeout="360000000" />
    <identity impersonate="false" userName="PMI\s-tom" />
    <sessionState timeout="60" />
</system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules>
      <!--<remove name="FormsAuthentication" />-->
    </modules>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".xlsx" allowed="true" />
                </fileExtensions>
	               <requestLimits maxAllowedContentLength="2147483647" />
            </requestFiltering>
        </security>
        <httpErrors errorMode="Detailed" />
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload;" />
                <add name="X-Frame-Options" value="DENY" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>