USE [master]
GO
/****** Object:  Database [locationbilding]    Script Date: 7/12/2017 10:33:46 AM ******/
CREATE DATABASE [locationbilding]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'locationbilding', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\locationbilding.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'locationbilding_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\locationbilding_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [locationbilding].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [locationbilding]
GO
/****** Object:  Table [dbo].[tm_location]    Script Date: 7/12/2017 10:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tm_location](
	[id_building] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[total] [int] NULL,
	[dataobject] [text] NULL,
	[create_date] [datetime] NULL,
 CONSTRAINT [PK_tm_location] PRIMARY KEY CLUSTERED 
(
	[id_building] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tm_location_detail]    Script Date: 7/12/2017 10:33:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tm_location_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_building] [int] NULL,
	[id_location] [int] NULL,
	[name] [varchar](50) NULL,
	[total] [int] NULL,
	[object_data] [text] NULL,
	[create_date] [datetime] NULL,
 CONSTRAINT [PK_tm_location_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tm_location] ON 

INSERT [dbo].[tm_location] ([id_building], [name], [total], [dataobject], [create_date]) VALUES (3, N'Kantor Rektorat', 2, N'{"objects":[{"type":"rect","left":177.49,"top":208.17,"width":100,"height":100,"fill":"#00ff00","scaleX":2.98},{"type":"text","originX":"center","originY":"center","left":329.06,"top":260.96,"width":103.3,"height":33.9,"fill":"#ffffff","text":"Rektorat","fontSize":30,"styles":null}]}', CAST(0x0000A7AC015F60EB AS DateTime))
SET IDENTITY_INSERT [dbo].[tm_location] OFF
ALTER TABLE [dbo].[tm_location_detail]  WITH CHECK ADD  CONSTRAINT [FK_tm_location_detail_tm_location] FOREIGN KEY([id_building])
REFERENCES [dbo].[tm_location] ([id_building])
GO
ALTER TABLE [dbo].[tm_location_detail] CHECK CONSTRAINT [FK_tm_location_detail_tm_location]
GO
USE [master]
GO
