// Variables

$main: #4C5869;
$second: #808EA7;

// Basic Color
$wt: #FFFFFF;
$black: #000000;
$dark: #444444;
$dark2: #232323;

$green: #3BBB25;
$red: #B21B1B;
$red2: #FB3131;
$blue: #24A4F1;
$blue2: #12ADFD;
$dblue: #005D95;
$dblue2: #005EAE;
$dblue3: #11689C;
$bblue: #41474F;
$bblue2: #3E4B5B;
$orange: #F88520;
$orange2: #FFAD2B;
$yellow: #F7EC40;
$purple: #808EA7;
$dpurple: #6E7B91;
$lpurple: #808EA7;

// border
$border: #d5dadf;
$border2: #e0e0e0;

// gray
$graybg: #F1F4F7;
$gray: #333;
$gray2: #EBEEF0;
$gray3: #DCE1E6;
$gray4: #E9ECF0;
$lightGray: #E0E2E5;
$lightGray2: #E5EAEF;

// font
$b : 'Karla-Bold';
$r : 'Karla-Regular';